<div class="evento clearfix">
  <div class="data">
    <%if evento.ta_rolando? %>
      <p><%= Date.today.day %></p>
      <small><%= l(Date.today, :format => :month) %></small>
    <%else%>
      <p><%= evento.data.day %></p>
      <small><%= l(evento.data, :format => :month) %></small>			
    <%end%>
  </div>

  <div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) if evento.logo? %> </div>

  <div class="info">
    <p id="evento"><%= link_to evento.nome, evento_full_path(evento) %></p>
    <small><%= nome_do_estado evento.estado %></small><br/>

    <p class="tags">
    <% evento.tags.each do |tag| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>
    <% end %>
    </p>
    <br/>

    <div class="separador"></div>

    <div class="quem_vai">
      <div class="quem_vai_pics">
        <div class="quem_vai_pic">
          <% evento.gadgets.each do |gadget| %>
            <img src="<%= current_user.image %>" width="25px" height="25px" /-->
          <%end%>

          <div class="gadget_vou">
            <div class="spinner">
              <%= image_tag 'ajax-loader.gif' %>
            </div>

              <%= link_to "Eu vou!", gadgets_path(:evento => evento.id, :tipo => Gadget.tipos[:eu_vou]), :class => 'ajax_vou' %>
          </div>
          <FORM>
            <INPUT TYPE="BUTTON" VALUE="Eu vou!" class="botao ajax_vou" style="width: 60px;"
            ONCLICK="window.location.href='<%= gadgets_path(:evento => evento.id, :tipo => Gadget.tipos[:eu_vou]) %>'">
          </FORM>

          <script type="text/javascript"> 
            //<![CDATA[

          $('.ajax_vou').click(function() {
              var thiz = this;

              FetchWithAjax.fetch({
url: this.href,
spinner: $(this).parents('.gadget_vou').find('.spinner'),
success: function(data) {
$(thiz).parents('.prop').replaceWith(data);
}
});

              return false;
              });

//]]>
</script> 



          </div>
        </div>
      </div>    

    </div>
  </div>


