<div class="evento clearfix" id="evento_<%= evento.id %>">

  <div class="data">
    <%if evento.ta_rolando? %>
      <p><%= Date.today.day %></p>
      <small><%= l(Date.today, :format => :month) %></small>
    <%else%>
      <p><%= evento.data.day %></p>
      <small><%= l(evento.data, :format => :month) %></small>			
    <%end%>
  </div><!-- fim class="data" -->

  <div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) if evento.logo? %> </div>

  <div class="info">
    <p id="evento"><%= link_to evento.nome, evento_full_path(evento) %></p>
    <small><%= nome_do_estado evento.estado %></small><br/>

    <p class="tags">
    <% evento.tags.each do |tag| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>
    <% end %>
    </p>
    <br/>

    <div class="separador"></div>

    <div class="quem_vai" id="quem_vai_<%= evento.id %>">
      <div class="quem_vai_pics">
        <div class="spinner">
          <%= image_tag 'ajax-loader.gif' %>
        </div>
        <% evento.gadgets.reverse[0..11].each do |gadget| %>
          <div class="quem_vai_pic">
            <%= image_tag User.find(gadget.user_id).image, :size => "25x25" %>
          </div>
        <%end%>
        
        <% if evento.gadgets.size > 12 %>
          <p style="clear:left;">E mais <%= evento.gadgets.size - 12 %> pessoas...</p>
        <% end %>
          
      </div>
    </div>

    <div class="gadget_vou">
        <%= link_to "Eu vou!", gadgets_path(:evento => evento.id, :tipo => Gadget.tipos[:eu_vou]), :class => 'ajax_vou', :id => "ajax_vou_#{evento.id}", :remote => true %>
    </div>

  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript"> 
    //<![CDATA[

  (function() {

   $(".ajax_vou").click(function (){
     var evento_id = $(this).attr("id").replace("ajax_vou_", "");

     $("#evento_" + evento_id).bind("ajax:loading", function(xhr) {
       $(this).find(".quem_vai_pic").last().hide().end().end().find(".spinner").show();
     });

     $("#evento_" + evento_id)).bind("ajax:success", function(xhr, data, status) {
       var json_data = eval("(" + data + ")");

       var quem_vai_pic = $("<div>", { "class" : "quem_vai_pic" });
       var user_image = $("<img>", { "src" : json_data.gadget.image_url, "width" : "25", "height" : "25" });

       quem_vai_pic.append(user_image);

       $(this).find(".quem_vai_pics").prepend(quem_vai_pic);
     })

     $("#evento_" + evento_id)).bind("ajax:complete", function(xhr) {
       $(this).find(".spinner").hide();
     })
   });
  })();

//]]>
</script> 
<% end %>
