<div class="evento clearfix" id="evento_<%= evento.id %>">

  <div class="data">
    <%if evento.ta_rolando? %>
      <p><%= Date.today.day %></p>
      <small><%= l(Date.today, :format => :month) %></small>
    <%else%>
      <p><%= evento.data.day %></p>
      <small><%= l(evento.data, :format => :month) %></small>			
    <%end%>
  </div><!-- fim class="data" -->

  <% if evento.logo? %>
    <div class="logo_img clearfix">
    <%= image_tag evento.logo.url(:thumb) %> 
    </div>
  <% else %>  
  <div class="logo clearfix">  </div>
<% end %>

  <div class="info">
    <p id="evento"><%= link_to evento.nome, evento_full_path(evento) %></p>
    <small><%= nome_do_estado evento.estado %></small><br/>

    <p class="tags">
    <% evento.tags.each do |tag| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>
    <% end %>
    </p>
    <br/>

    <div class="separador"></div>

    <div class="quem_vai" id="quem_vai_<%= evento.id %>">
      <div class="quem_vai_pics">
        <div class="spinner">
          <%= image_tag 'ajax-loader.gif' %>
        </div>
        <% evento.me_da_gadgets.eu_vou.each do |gadget| %>
          <div class="quem_vai_pic"> 
            <%= image_tag "twimages/#{user_name gadget}.#{extension gadget}", :size => "25x25" %>
          </div>
        <%end%>
        
        <% if evento.gadgets.size > 12 %>
          <p style="clear:left;">
            E mais <%= evento.gadgets.size - 12 %> <%= evento.gadgets.size == 13 ? "pessoa" : "pessoas" %>...
          </p>
        <% end %>
          
      </div>
    </div>
    <%= eu_vou evento %>
  </div>
  <div class="comments">
    <%= link_to "#{evento.comentarios.size} comentarios", evento_full_path(evento) %> 
  </div>
</div>
