<div class="evento clearfix">
  <div class="data">
    <%if evento.ta_rolando? %>
      <p><%= Date.today.day %></p>
      <small><%= l(Date.today, :format => :month) %></small>
    <%else%>
      <p><%= evento.data.day %></p>
      <small><%= l(evento.data, :format => :month) %></small>			
    <%end%>
  </div>

  <div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) if evento.logo? %> </div>

  <div class="info">
    <p id="evento"><%= link_to evento.nome, evento_full_path(evento) %></p>
    <small><%= nome_do_estado evento.estado %></small><br/>

    <p class="tags">
    <% evento.tags.each do |tag| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>
    <% end %>
    </p>
    <br/>
    
    <div class="separador"></div>

      <div class="quem_vai">
        <div class="quem_vai_pics">
          <div class="quem_vai_pic">
            <% evento.gadgets.each do |gadget| %>
              <img src="http://a1.twimg.com/profile_images/62221129/avatar_bigger.jpg" width="25px" height="25px" /-->
           <%end%>
          <FORM>
            <INPUT TYPE="BUTTON" VALUE="Eu vou!" class="botao" style="width: 60px;"
            ONCLICK="window.location.href='<%= gadgets_path(:evento => evento.id, :tipo => Gadget.tipos[:eu_vou]) %>'">
          </FORM>

          </div>
        </div>
      </div>    

    </div>
  </div>


