<%= form_for @evento, :html => { :multipart => true, :class => 'resource_form' } do |f| %>

  <h1>Cadastre novo evento</h1>
  <div style="clear: both;"></div>
  <h5 class="aviso">Cadastre um novo evento de tecnologia em qualquer região do Brasil. Preenchendo todos os campos abaixo seu evento será melhor representado nas páginas do agendatech.  </h5>
  <br />
  <p>
  <label for="nome">* Nome</label>
  <%=error_message_on :evento,:nome%>
  <input type="text" name="evento[nome]" value="<%=@evento.nome%>"/>
  </p>
  <p>
  <label for="estado">* Estado</label>
  <%=error_message_on :evento,:estado%>
  <%=select("evento", "estado", estados.sort.collect {|estado| [ estado[1], estado[0]] })%>
  </p>
  <p>
  <label for="data">* Data</label>
  <%=error_message_on @evento,:data%>
  <input id="dataInicio" type="text" name="evento[data]" value="<%=l(@evento.data.to_date) if @evento.data%>"/>
  </p>
  <p>
  <label for="data_termino">Data de término</label>
  <%=error_message_on @evento,:data_termino%>
  <input id="dataTermino" type="text" name="evento[data_termino]" value="<%=l(@evento.data_termino.to_date) if @evento.data_termino%>"/>
  </p>
  <p>
  <label for="mensagem">* Descrição</label>
  <%=error_message_on :evento,:descricao%>
  <textarea name="evento[descricao]" class="mceEditor"><%=@evento.descricao%></textarea>
  </p>

  <p>
  <label for="grupo_id">Grupo de usuários</label>
  <%=error_message_on :evento,:grupo%>
  <%= f.collection_select :grupo_id, Grupo.aprovados, :id, :nome, options ={:prompt =>
    "Evento sem grupo específico."} %>
    </p>

    <p>
    <label for="email">* Site</label>
    <%=error_message_on :evento,:site%>
    <input type="text" name="evento[site]" value="<%=@evento.site%>"/>
    </p>
    <p>
    <label for="codigo">Twitter</label>
    <input type="text" name="evento[twitter]" value="<%=@evento.twitter%>"/>
    </p>
    <p>
    <label for="codigo">Twitter Hashtag</label>
    <input type="text" name="evento[twitter_hash]" value="<%=@evento.twitter_hash%>"/>
    </p>
    <p>
    <label for="evento_tag_list">Tag list (",")</label>
    <input id="evento_tag_list" name="evento[tag_list]" type="text" value="<%=@evento.tag_list%>"/>
    </p>
    <p>
    <label for="logo">Logo</label>
    <%= f.file_field :logo %>
    </p>


    <br />
    <%= f.submit :class => "botao"%>
  <% end %>

  <%-content_for :javascript do %>
    <%= javascript_include_tag 'jquery.ui.core' %>
    <%= javascript_include_tag 'jquery.ui.datepicker'%>
    <script type="text/javascript">
      [$("#dataTermino"),$("#dataInicio")].forEach(function(campo){
          campo.datepicker({ dateFormat: 'dd/mm/yy',
            dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Augosto','Setembro','Outubro','Novembro','Dezembro']
            });
          });

        </script>
      <%end -%>

