<p class="breadcrumb">agenda<span>tech</span> > Brasil   </p> 

<% if flash[:aguarde] %>
	<p class="notice"><%=flash[:aguarde]%></p>
<% end  %>

<% for evento in @eventos %>

<!-- implementacao as pressas pra aproveitar o oxenterails - refactor me , pls -->

<% if evento.id == 14 %>

	<% if evento.id == 14 %>

	<div id="banner">
		<a href="http://qcon.com.br/"><img src="/images/banner_qcon.png" /></a>
	</div>

	<% end  %>


	<div class="evento_destaque clearfix">
		<div class="data">
			<p><%= evento.data.day %></p>
			<small><%= evento.data.strftime('%B') %></small>
		</div>

		<div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) %></div>

		<div class="info">
			<p id="evento"><%= link_to evento.nome, evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>
			<small><%= nome_do_estado evento.estado %></small><br/>
	
			<p class="tags">
				<% evento.tags.each do |tag| %>
				<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>			
				<% end %>
			</p>
	
			<p class="info_button"><%= link_to '+ Informações', evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>							




		</div>
		
		<div id="twitter_images">
			
			<p>Acompanhe o que estão falando sobre o <%= evento.nome %> no Twitter:</p>
			
			<% for u in @ultimos_twits %>
			<div class="twit">
				<img src="<%= u.profile_image_url %>" width="30" height="30"/>
				<%= u.text %>
			</div>
			<% end %>
			
			<br /><br />
			
			<div style="clear: both"></div>
			
			<% for img in @images %>
				<img src="<%= img %>" width="30" height="30"/>
			<% end%>

		</div>
	</div>



<% else %>


	<div class="evento clearfix">
		<div class="data">
			<p><%= evento.data.day %></p>
			<small><%= evento.data.strftime('%B') %></small>
		</div>
	
		<div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) %></div>

		<div class="info">
			<p id="evento"><%= link_to evento.nome, evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>
			<small><%= nome_do_estado evento.estado %></small><br/>
		
			<p class="tags">
				<% evento.tags.each do |tag| %>
				<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>			
				<% end %>
			</p>
		
			<p class="info_button"><%= link_to '+ Informações', evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>							
		</div>
	</div>


<% end %>

<% end %>
