<p class="breadcrumb">agenda<span>tech</span> > Brasil   </p> 

<% if flash[:aguarde] %>
	<p class="notice"><%=flash[:aguarde]%></p>
<% end  %>

<% for evento in @eventos %>
<div class="evento clearfix">
	<div class="data">
		<p><%= evento.data.day %></p>
		<small><%= evento.data.strftime('%B') %></small>
	</div>
	
	<div class="logo clearfix"> <%= image_tag evento.logo.url(:thumb) %></div>

	<div class="info">
		<p id="evento"><%= link_to evento.nome, evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>
		<small><%= nome_do_estado evento.estado %></small><br/>
		
		<p class="tags">
			<% evento.tags.each do |tag| %>
			<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>			
			<% end %>
		</p>
		
		<p class="info_button"><%= link_to '+ Informações', evento_path(:ano => evento.data.year,:nome => evento.nome,:id=>evento) %></p>							
	</div>
</div>
<% end %>
