<div class="evento clearfix">
  <div class="data">
    <%if @evento.ta_rolando? %>
      <p><%= Date.today.day %></p>
      <small><%= l(Date.today, :format => :month) %></small>
    <%else%>
      <p><%= @evento.data.day %></p>
      <small><%= l(@evento.data, :format => :month) %></small>			
    <%end%>
  </div>

  <% if @evento.logo? %>
  <div class="logo_img clearfix"> <%= image_tag @evento.logo.url(:thumb) %> </div>
  <% else%>
      <div class="logo clearfix">
        
      </div>
  <% end %>


  <div class="info">
    <p id="evento"><%= link_to @evento.nome, evento_full_path(@evento) %></p>
    <small><%= nome_do_estado @evento.estado %></small><br/>

    <p><span>Data:</span><%= @evento.data.day %>/<%= l(@evento.data, :format => :month) %></p>
	<small><%= evento_do @evento.grupo %></small>
        <br/><br/>

	<p><span>Tags:</span>

			<% @evento.tags.each do |tag| %>
			<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => "tag tags" %>
			<% end %>

	</p>

	<p><span>Site:</span><a href="<%= @evento.site %>" target="blank"><%= @evento.site %></a></p>
	<p><span>Twitter:</span><a href="http://www.twitter.com/<%= @evento.twitter %>" target="blank">@<%= @evento.twitter %></a></p>


<div id="detalhe_desc" >
	<%= @evento.descricao.html_safe %>
</div>

   
    <div class="separador"></div>


    <div class="quem_vai" id="quem_vai_<%= @evento.id %>">
      <div class="quem_vai_pics">
        <div class="spinner">
          <%= image_tag 'ajax-loader.gif' %>
        </div>
        <% @evento.gadgets.each do |gadget| %>
          <div class="quem_vai_pic"> 
            <%= image_tag "twimages/#{user_name gadget}.#{extension gadget}", :size => "25x25" %>
          </div>
        <%end%>
        
      </div>
    </div>

      <%= eu_vou @evento%>          


    </div>
    <div style="clear: both;"></div>

<%=  flash[:comentario] %>
<br />

<% if @evento.comentarios.empty?%>
 <p>Seja o primeiro a comentar sobre esse evento!</p>
        
<% else  %>

	<% for comentario in @evento.comentarios %>
		<br/>
		<div class="comentario">
			<!-- <img src="/images/" /> -->
			<div style="clear:both;"></div>
	                
                        <%= image_tag user_pic_by(comentario) %>

			<p class="comentario_descricao"><%= comentario.descricao %></p>
			<p class="comentario_data"><%= comentario.created_at.strftime("Enviado em %m/%d/%Y %I:%M%p") %></p>

		</div>
	<% end %>

<% end %>

<% if user_signed_in? %>
<%= form_for @comentario, :url => {:action => "comentar"}, :html => { :class => 'resource_form' } do |f| %>
	<input type="hidden" name="comentario[evento_id]" value="<%= @evento.id %>"/>
	<input type="hidden" name="evento_nome" value="<%=@evento.to_param%>"/>
	<p>
		<textarea style="width: 600px; height: 100px;" type="text" name="comentario[descricao]"> </textarea>
	</p>
	<input style="position: static;" type="submit" value="Comentar"/>

<% end  %>	
<hr>
<FORM>
  <INPUT TYPE="BUTTON" VALUE="Voltar" class="botao" style="width: 100px;"
            ONCLICK="window.location.href='<%= root_path %>'">
</FORM>
<% else %>
  <br />
  Para comentar faça o <%= link_to "login com seu twitter", "/auth/twitter", :class => 'blue' %>
<% end %>


  </div>

<br>


<%= render :partial => 'eventoajax' %>
