<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>agendatech - Eventos de tecnologia</title>

    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'form' %>
    <%= stylesheet_link_tag 'contato' %>
    <%= stylesheet_link_tag 'jquery-ui' %>
    <%= include_tiny_mce_if_needed %>
    <%= auto_discovery_link_tag :rss, feed_path('rss') %>
  </head>
  <body>
    <div id="header">

      <div class="container">
        <h1>
          <a href="/">
            <p class="logo_home">agenda<span>tech</span></p>
          </a>
        </h1>
        <h3>Eventos de tecnologia no Brasil</h3>

        <% if user_signed_in? %>
          <div id="user_logged">
            Usuário: 
            <%= current_user.nickname %>, 
            <%= link_to "Sair", destroy_user_session_path, :class => 'blue' %>
          </div>
          <div style="clear:right"></div>
        <% end %>

      </div>

      <div id="menu">
        <ul>
          <% unless user_signed_in? %>
            <li>
            <%= link_to "Login com twitter", "/auth/twitter", :class => 'blue' %>
            <span class="check"></span>
            </li>
          <% end %>

          <li><%= tab_link_to "Contato", contato_path %></li>
          <li><%= tab_link_to "Sobre", sobre_path %></li>
          <li><%= tab_link_to "Grupos",  grupos_path %></li>
          <li><%= tab_link_to "Eventos", eventos_path %></li>
        </ul>
      </div>

      <div style="clear:both"></div>
    </div>

    <div id="content">
      <div style="clear: both"></div>
      <div class="container">

        <% if flash[:aguarde] %>
          <p class="notice"><%=flash[:aguarde]%></p>
        <% end  %>
        <div id="left" >
        <!--p class="breadcrumb"><% if @mes %>Eventos em <%= @mes %><% end %></p>
        <p class="breadcrumb"><% if @tag %>Eventos de <%= @tag	%><% end %></p-->

          <%= yield %>

        </div>
        <div id="right" >


          <FORM>
            <INPUT TYPE="BUTTON" VALUE="Cadastrar novo evento" class="botao" style="width: 230px;"
            ONCLICK="window.location.href='<%= new_evento_path %>'">
          </FORM>
          <br/> 
          <FORM>
            <INPUT TYPE="BUTTON" VALUE="Cadastrar novo grupo" class="botao" style="width: 230px;"
            ONCLICK="window.location.href='<%= new_grupo_path %>'">
          </FORM>


          <br/>

          <div id="about">
            <div class="inner">


              <p><strong>A Agendatech busca facilitar o networking dos profissionais
                de tecnologia do Brasil.</strong></p>
              <p>Cadastre todos os eventos de todos os estados, dojos, palestras, encontros de grupos de usuários, etc.
              </p>
            </div>

          </div>

          <a href="http://www.twitter.com/agendatech" target="_blank">
          <div id="twitter_bg">
            <div class="tweet">

            </div>
          </div>
          </a>

          <% meses_com_total,total = meses_com_total_de_eventos%>
          <div id="mes">
            <div class="header">
              <p class="bold">Eventos por mês (<%=total%>)</p><br />
            </div>

            <div class="inner">
              <div class="left">
                <%(1..6).each do |numero| %>
                  <p><%= link_to "#{meses.index(numero)} (#{meses_com_total[numero]})"  , eventos_por_mes_path(:ano => Time.now.year, :month => "#{meses.index(numero)}") %></p>
                <%end%>
              </div>

              <div class="">
                <%(7..12).each do |numero| %>
                  <p><%= link_to "#{meses.index(numero)} (#{meses_com_total[numero]})"  , eventos_por_mes_path(:ano => Time.now.year, :month => "#{meses.index(numero)}") %></p>
                <%end%>
              </div>
            </div>
          </div>




          <% estados,total = estados_com_total_de_eventos%>
              <div id="estado">
                  <div class="header">
                    <p>Eventos por Estado (<%=total%>)</p>
                  </div>
                  <div class="inner">
                    <% for sigla in estados.keys %>
                      <p>
                      <%= link_to "#{nome_do_estado(sigla)}(#{estados[sigla]})", eventos_por_estado_path(:estado => nome_do_estado(sigla)) %>
                      </p>
                    <% end %>
                  </div>
              </div>

          <div id="mes">
            <div class="header">
              <p>Últimos comentários</p>              
            </div>
            <div class="inner">

              <% for comentario in @ultimos_comentarios %>
                <div>

                  <%= image_tag user_pic_by(comentario) , :size => '25x25'%>
                  <p class="comentario_descricao"><%= link_to comentario.descricao, root_path %></p>
                  <p class="comentario_data"><%= comentario.created_at.strftime("Enviado em %m/%d/%Y %I:%M%p") %></p>

                </div>
                <br />
              <% end %>


            </div>
          </div>

          <div class="android">
            <%= image_tag "android.png" %>
          </div>
          <br/>

          <div id="twitter">
            <div class="header">
              <p>Eventos no Twitter</p>
            </div>
            <div class="inner">

              <% for t in @twits %>
                <div class="twit">
                  <img src="<%= t.profile_image_url %>" width="48px" height="48px">
                  <p><%= t.text[0..80] %></p>
                </div>
              <% end  %>

            </div>
          </div>
          <div id="tags">
            <div class="header">
              <p>Assuntos em alta</p>
            </div>

            <div class="inner">
              <% if @tags.size > 1 %>

                <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
                  <%= link_to tag.name, { :action => :tag, :controller => :eventos,:id => tag.name }, :class => css_class %>
                <% end %>
              <% end %>

            </div>
          </div>


          <div id="qcon">
            <a href="http://www.caelum.com.br/" alt="Caelum ensindo e inovação" target="_blank" ><img src="/images/caelum.jpg" /></a><br/><br/>
            <a href="http://www.rubyinside.com.br/" alt="O maior site de ruby on rails do mundo" target="_blank" ><img src="/images/logo-br.gif" /></a>
          </div>
        </div>




      </div>
      <div style="clear: both"></div>


    </div>
  </div>


  <div id="footer">

    <div class="container">
      <a href="/">
        <p class="logo_footer">agenda<span>tech</span></p>
      </a>

      <p><%= link_to "Home", :controller => 'eventos' %> |
      <%= link_to "Rails", :controller => 'eventos/tag/rails' %>	|
      <%= link_to "Java", :controller => 'eventos/tag/java' %> |
      <%= link_to "Arquitetura", :controller => 'eventos/tag/arquitetura' %> |
      <%= link_to "Ruby", :controller => 'eventos/tag/ruby' %> |
      <%= link_to "Design", :controller => 'eventos/tag/design' %> |
      <%= link_to "Colaboradores", :controller => 'sobre', :action => 'colaboradores' %> |
      <%= link_to "Sobre", :controller => 'sobre' %> | <%= link_to "Contato", :controller => 'notifier' %></p>
      <p class="copy">Copyright © 2010. All Rights Reserved.</p>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'jquery.tweet.min.js' %>
  <script type="text/javascript">
    !window.jQuery && document.write("<script type=\"text\/javascript\" src=\"javascripts\/jquery-1.4.4.min.js\"><\/script>");
    </script>

    <%= yield :javascript %>

    <script type='text/javascript'>
      $(document).ready(function(){
          $(".tweet").tweet({
username: "agendatech",
join_text: "auto",
avatar_size: 32,
count: 1,
loading_text: "carregando tweets..."
});
          });
</script>
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17774509-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>
<!-- Google Analytics -->

  </body>
</html>
