<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>agendatech || Eventos de tecnologia no Brasil</title>
		<%= stylesheet_link_tag 'style' %>
		<%= stylesheet_link_tag 'form' %>	
		<%= stylesheet_link_tag 'contato' %>			
	  <%= include_tiny_mce_if_needed %>	

	</head>
	<body>
		<div id="gray-bg">
			<img width="100%" height="100%" src="/images/bg.jpg">
		</div>
		
		<div id="header">
			<div class="container">
				<h1>
					<a href="/">
						<p class="logo_home">agenda<span>tech</span></p>
					</a>	
				</h1>
				<h3>Eventos de tecnologia no Brasil.</h3>
			</div>	
		</div>
		
		<div id="content">
			<div id="menu">
				<ul>
  			  <li><%= link_to "Eventos", {:controller => 'eventos'}, :class => 'menu_select' %></li>
				  <li><%= link_to "Contato", {:controller => 'notifier'}, :class => 'menu_inicial'%></li>  			  									
				  <li><%= link_to "Sobre", {:controller => 'sobre'}, :class => 'menu_inicial' %></li>				  
  			  <li><%= link_to "Colaboradores", {:controller => 'sobre', :action => 'colaboradores'}, :class => 'menu_inicial' %></li>				
				</ul>
			</div>
			<div style="clear: both"></div>
			<div class="container">
							
				<div id="left" >
					<p class="breadcrumb"><% if @mes %>Eventos em <%= Date::MONTHNAMES[@mes.to_i]  %><% end %></p>
					<p class="breadcrumb"><% if @tag %>Eventos de <%= @tag  %><% end %></p>					
					
					<%= yield %>
							
				</div>
				<div id="right" >
					
					<div id="cadastre">
						Confira os próximos eventos de tecnologia, dojos e encontros pelo Brasil.<br/><br/>
						<p><a href="/eventos/new">Cadastre o seu evento!</a></p>
					</div>
					
				
					

						<div id="mes">
							<p class="bold">Eventos por mês</p><br />

							<div id="meses">														
								<div class="left">
									<p><%= link_to 'Janeiro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Janeiro") %></p>
									<p><%= link_to 'Fevereiro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Fevereiro") %></p>
									<p><%= link_to 'Março'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Março") %></p>
									<p><%= link_to 'Abril'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Abril") %></p>
									<p><%= link_to 'Maio'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Maio") %></p>
									<p><%= link_to 'Junho'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Junho") %></p>																																
								</div>

								<div class="">
									<p><%= link_to 'Julho'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Julho") %></p>
									<p><%= link_to 'Agosto'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Agosto") %></p>
									<p><%= link_to 'Setembro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Setembro") %></p>
									<p><%= link_to 'Outubro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Outubro") %></p>
									<p><%= link_to 'Novembro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Novembro") %></p>
									<p><%= link_to 'Dezembro'  , eventos_por_mes_path(:ano => Time.now.year, :month => "Dezembro") %></p>			
								</div>
							</div>
						</div>
						
							<div id="estado">
								<p class="bold">Eventos por estado</p><br/>
								<div id="meses">
		  						<% for sigla in estados_com_eventos %>
		    						<p><%= link_to nome_do_estado(sigla)  , eventos_por_estado_path(:estado => nome_do_estado(sigla)) %></p>
		  						<% end %>
								</div>
							</div>	
							
								<div id="cadastre">
									<p><a href="http://www.twitter.com/agendatech" target="blank">agendatech no twitter</a></p>
								</div>
						

					<div id="twitter">
						<p>Eventos no twitter</p>

						<% for t in @twits %>
						<div class="twit">
							<img src="<%= t.profile_image_url %>" width="48px" height="48px">
							<small><a href="http://www.twitter.com/<%= t.from_user %>" target="blank">@<%= t.from_user %></a></small>
							<p><%= t.text %></p>
						</div>
						<% end  %>

					</div>
							
					
			
				
					<div id="tags">
					  <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
					    <%= link_to tag.name, { :action => :tag, :controller => :eventos,:id => tag.name }, :class => css_class %>
					  <% end %>
					</div>
					
		<br/><br/>
		<div id="qcon">
			<a href="http://qcon.com.br/"><img src="/images/qcon_side.png" /></a>
		</div>					
					
	<a href="javascript: void(0);" onclick="window.open('http://www.peixegrande.com.br/voto/votar.asp?key=5540704F5B011B534945091451484E0B0D5B4A45FFD6DB82820D51EA479A983EE60E','peixegrande','width=570,height=440')"><img src="http://www.newwws.com.br/imagesarteccom/selo_2010.png" alt="Selo peixe Grande 2010" border="0" /></a><br/><br/>				
					
				</div>
				<div style="clear: both"></div>
				<div id="geeks"></div>				
				
			</div>			
		</div>
		

		<div id="footer">
			
			<div class="container">
				<a href="/">
				<p class="logo_footer">agenda<span>tech</span></p>
				</a>
				
				<p><%= link_to "Home", :controller => 'eventos' %> |
			  	   <%= link_to "Rails", :controller => 'eventos/tag/rails' %> 	| 
			 	   <%= link_to "Java", :controller => 'eventos/tag/java' %> | 
			 	   <%= link_to "Arquitetura", :controller => 'eventos/tag/arquitetura' %> | 
			 	   <%= link_to "Ruby", :controller => 'eventos/tag/ruby' %> | 
				   <%= link_to "Design", :controller => 'eventos/tag/design' %> | 
				   <%= link_to "Colaboradores", :controller => 'sobre', :action => 'colaboradores' %> |				
				   <%= link_to "Sobre", :controller => 'sobre' %> | <%= link_to "Contato", :controller => 'notifier' %></p>
				<p class="copy">Copyright © 2010. All Rights Reserved.</p>
			</div>			
		</div>
		
		
	</body>
</html>
<%=yield :javascript%>
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17774509-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	<!-- Google Analytics -->	

	</script>
